<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuyan.masteryi.mall.mapper.CartItemMapper">
    <insert id="addCartItem">
       insert into cartitem values(null, #{userId}, #{goodsId},#{goodsNum}, default)
    </insert>

    <delete id="deleteCartItemById">
       delete from cartitem where cart_item_id = #{cartItemId}
    </delete>

    <delete id="deleteAllCartItem">
        delete from cartitem where user_id = #{userId}
    </delete>

    <update id="changeGoodsNumById">
        update cartitem set goods_num = #{goodsNum} where cart_item_id = #{cartItemId}
    </update>

    <update id="goodsNumSub1">
        update cartitem set goods_num = goods_num-1 where cart_item_id = #{cartItemId}
    </update>

    <update id="goodsNumAdd1">
        update cartitem set goods_num = goods_num+1 where cart_item_id = #{cartItemId}
    </update>

    <select id="showMyCart" resultType="SingleCartItem">
        select cart_item_id,goods_num,goods.goods_id,goods_name,goods_information,goods_cover_url,id,specs,price,add_time
        from goods,goods_specs,cartitem
        where goods.goods_id = goods_specs.goods_id and cartitem.goods_id = goods_specs.id and cartitem.user_id = #{userId}
    </select>
</mapper>