<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuyan.masteryi.mall.mapper.GoodsMapper">
    <select id="getAllGoods" resultType="Goods">
       select * from goods
    </select>
    <update id="addSell">
        update goods set sell_num=sell_num+#{num} where goods_id=#{good_id}
    </update>
    <update id="addCollect">
        update goods set collect_num=collect_num+1 where goods_id=#{good_id}
    </update>
    <update id="descStock">
        update goods set stock_num=stock_num-#{num} where goods_id=#{good_id}
    </update>
    <select id="getGoodById" resultType="Goods">
        select * from goods where goods_id=#{good_id}
    </select>
</mapper>